@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply duration-300 cursor-pointer;
  }

  .headerSedenavLi {
    @apply hover:underline underline-offset-2 cursor-pointer text-gray-300 hover:text-white;
  }
}

@font-face {
  font-family: 'Product Sans';
  font-weight: 400;
  src: local('Product Sans'), url('./assets/fonts/product_sans_regular.otf') format('truetype');
}

@font-face {
  font-family: 'Product Sans';
  font-weight: 700;
  src: local('Product Sans'), url('./assets/fonts/product_sans_bold.otf') format('truetype');
}

/* ============= NavLink active Start here ============== */
nav .active li {
  color: black;
  font-weight: 600;
  text-decoration: 1px underline black;
}

@media screen and (max-width: 665px) {
  nav .active li {
    color: white;
    font-weight: 600;
    text-decoration: 1px underline white;
  }
}

body {
  font-family: "Product Sans";
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* ============= NavLink active End here ================ */

.box-skeleton {
  background: #eee;
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.custom-slider .slick-slide > div {
  padding: 0 15px;
}

.custom-slider .slick-list {
  margin: 0 -15px;
}